/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
}

$title-font: "Dancing Script", cursive;
$font-weight: (
  "light": 350,
  "regular": 500,
  "bold": 700,
);
$sub-title-font-size: 2.4rem;
$color-text: #fff;
$color-sub-title: #ffec99;
$color-impress: #ffe066;
$background-color-section: #282828;

%lable-logo {
  font-family: $title-font;
  // font-size: 2.4rem;
  font-style: italic;
  color: $color-impress;
  font-weight: map-get($font-weight, bold);
}

@mixin column-flexbox($padding-value, $gap-value) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding-value;
  gap: $gap-value;
}

@mixin align-center_flexrow($padding-value, $gap-value) {
  display: flex;
  align-items: center;
  padding: $padding-value;
  gap: $gap-value;
}

%button {
  text-decoration: none;
  padding: 5px;
  border: 2px solid $color-impress;
  border-radius: 7px;
  display: inline-block;
}
