/** @format */
/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
}

.section-2 .container .infomation .text .logo-navbar__name-restaurant, header .logo-navbar .logo-navbar__logo .logo-navbar__name-restaurant, footer .container .copyright .logo__footer h1, .title .sub-title {
  font-family: "Dancing Script", cursive;
  font-style: italic;
  color: #ffe066;
  font-weight: 700;
}

.title h1 {
  color: #fff;
  font-size: 3.4rem;
}
.title h1 span {
  color: #ffe066;
  text-transform: uppercase;
}
.title .sub-title {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 5px;
}
.title .sub-title hr {
  width: 8rem;
  height: 1.5px;
  background-color: #ffe066;
  opacity: 1;
}

/** @format */
@media (min-width: 700px) and (max-width: 1200px) {
  .section-1 .container {
    background: url(/images/background-img/AMIfv961Qcp2UVAUNr-PUs1hqwJMO8f5TC_zob34Amdv-5BiH-Tuc-hWs9wCpjykkvOjnspn2riO7ied_GjR2G_ZTMGmSfK_AIMc974sWRg7RadSSjiPSscTg3ZXhk2IlEIEt6huKjBGlekXqOS_8caZ2AuMmSsQl2.png);
    height: 32rem;
    width: 100%;
    background-size: 100%;
    background-position: 10% 78%;
    position: relative;
  }
  .section-1 .container .booking-box {
    position: absolute;
    transform: translateX(-50%);
    bottom: -80%;
    left: 50%;
  }
  .section-2 .container {
    padding-top: 30rem;
  }
  .section-2 .container .infomation {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 3rem;
    justify-content: center;
  }
  .section-2 .container .infomation .text {
    padding: 3rem;
    max-width: 50%;
  }
}
@media (max-width: 700px) {
  .section-1 {
    background-color: #0c0b09;
  }
  .section-1 .container .background {
    background: url(/images/background-img/AMIfv961Qcp2UVAUNr-PUs1hqwJMO8f5TC_zob34Amdv-5BiH-Tuc-hWs9wCpjykkvOjnspn2riO7ied_GjR2G_ZTMGmSfK_AIMc974sWRg7RadSSjiPSscTg3ZXhk2IlEIEt6huKjBGlekXqOS_8caZ2AuMmSsQl2.png);
    height: 25vh;
    background-size: 100%;
    background-position: 10% 78%;
  }
  .section-1 .container .booking-box form input {
    display: inline-block;
    width: 70%;
  }
  .section-2 .container .infomation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1.5rem;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .section-1 .container {
    background: url(/images/background-img/AMIfv961Qcp2UVAUNr-PUs1hqwJMO8f5TC_zob34Amdv-5BiH-Tuc-hWs9wCpjykkvOjnspn2riO7ied_GjR2G_ZTMGmSfK_AIMc974sWRg7RadSSjiPSscTg3ZXhk2IlEIEt6huKjBGlekXqOS_8caZ2AuMmSsQl2.png);
    height: 32rem;
    width: 100%;
    background-size: 100%;
    background-position: 10% 78%;
  }
  .section-1 .container .booking-box {
    position: absolute;
    bottom: -80%;
    left: 40%;
    transform: translateX(-50%);
  }
  .section-2 .container {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0;
    justify-content: space-between;
  }
  .section-2 .container .empty {
    flex: 1 80%;
  }
  .section-2 .container .infomation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1.5rem;
    width: 42rem;
  }
  .section-2 .container .infomation iframe {
    width: 40rem;
    height: 30rem;
  }
}
/** @format */
/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
}

.section-2 .container .infomation .text .logo-navbar__name-restaurant, header .logo-navbar .logo-navbar__logo .logo-navbar__name-restaurant, footer .container .copyright .logo__footer h1, .title .sub-title {
  font-family: "Dancing Script", cursive;
  font-style: italic;
  color: #ffe066;
  font-weight: 700;
}

.title h1 {
  color: #fff;
  font-size: 3.4rem;
}
.title h1 span {
  color: #ffe066;
  text-transform: uppercase;
}
.title .sub-title {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 5px;
}
.title .sub-title hr {
  width: 8rem;
  height: 1.5px;
  background-color: #ffe066;
  opacity: 1;
}

footer {
  background-color: #0c0b09;
  padding: 5rem;
  padding-bottom: 3px;
}
footer .container {
  margin-bottom: 3rem;
}
footer .container .copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 1.5rem;
  align-items: flex-start;
}
footer .container .copyright .logo__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
footer .container .copyright .logo__footer h1 {
  font-size: 3.4rem;
}
footer .container .copyright .logo__footer h2 {
  text-transform: uppercase;
  color: #ffec99;
  font-size: 2.2rem;
}
footer .container .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 1.5rem;
  align-items: flex-start;
}
footer .container .contact .container-contact {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 5px;
}
footer .container .contact .container-contact .impress-box {
  background-color: #ffec99;
  color: black;
  padding: 5px;
  font-size: 1.2rem;
  width: 6rem;
  font-weight: 700;
  text-align: center;
}
footer .container .contact .container-contact p {
  font-size: 1.6rem;
}
footer .container .newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 2rem;
  align-items: center;
}
footer .container .newsletter h2 {
  color: #ffec99;
}
footer .container .newsletter form {
  position: relative;
}
footer .container .newsletter form input {
  height: 3rem;
  border-radius: 1000px;
  border: none;
  width: 23rem;
}
footer .container .newsletter form input::-moz-placeholder {
  padding-left: 5px;
}
footer .container .newsletter form input::placeholder {
  padding-left: 5px;
}
footer .container .newsletter form button {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 0;
  padding: 7px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 1000px;
  border: none;
  background-color: #ffec99;
  height: 3rem;
}
footer .container .newsletter .icons-box {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 3rem;
}
footer .container .newsletter .icons-box .bi {
  cursor: pointer;
  color: #26231d;
  width: 2rem;
}
footer .container .newsletter .icons-box .bi:hover {
  color: #ffe066;
}
footer p {
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
}
footer p a {
  color: #ffe066;
}
footer p a:hover {
  text-decoration: none;
}

@media (max-width: 700px) {
  footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1.5rem;
  }
  footer .container .newsletter .icons-box .bi {
    stroke: #ffe066;
  }
}
@media (min-width: 1200px) {
  footer .container {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0;
    justify-content: space-around;
  }
}
@media (min-width: 700px) and (max-width: 1200px) {
  footer .container {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 2rem;
    justify-content: space-around;
  }
}
header .logo-navbar {
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  padding: 3rem;
  gap: 0;
  z-index: 10;
  font-size: 5.2rem;
}
header .logo-navbar .logo-navbar__logo {
  text-align: center;
}
header .logo-navbar .logo-navbar__logo .logo-navbar__name-restaurant {
  text-decoration: none;
  color: #ffe066;
}

.section-1 .container {
  position: relative;
}
.section-1 .container .booking-box {
  border-radius: 10px;
  background-color: #1a1814;
  padding: 1rem;
}
.section-1 .container .booking-box form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  border: 1px #ffe066;
  gap: 1.5rem;
}
.section-1 .container .booking-box form input::-moz-placeholder, .section-1 .container .booking-box form textarea::-moz-placeholder {
  color: white;
  padding: 5px;
  font-family: "Playfair Display", serif;
}
.section-1 .container .booking-box form input,
.section-1 .container .booking-box form input::placeholder,
.section-1 .container .booking-box form textarea,
.section-1 .container .booking-box form textarea::placeholder {
  color: white;
  padding: 5px;
  font-family: "Playfair Display", serif;
}
.section-1 .container .booking-box form .name {
  grid-column: 1;
  grid-row: 1;
  background-color: #1a1814;
  border: 1px solid #ffe066;
}
.section-1 .container .booking-box form .mail {
  grid-column: 2;
  grid-row: 1;
  background-color: #1a1814;
  border: 1px solid #ffe066;
}
.section-1 .container .booking-box form .phone {
  grid-column: 3;
  grid-row: 1;
  background-color: #1a1814;
  border: 1px solid #ffe066;
}
.section-1 .container .booking-box form .date {
  grid-column: 1;
  grid-row: 2;
  background-color: #1a1814;
  border: 1px solid #ffe066;
}
.section-1 .container .booking-box form .time {
  grid-column: 2;
  grid-row: 2;
  background-color: #1a1814;
  border: 1px solid #ffe066;
}
.section-1 .container .booking-box form .table {
  grid-column: 3;
  grid-row: 2;
  background-color: #1a1814;
  border: 1px solid #ffe066;
}
.section-1 .container .booking-box form .message {
  grid-column: 1/-1;
  grid-row: 3;
  height: 15rem;
  background-color: #1a1814;
  border: 1px solid #ffe066;
}
.section-1 .container .booking-box form .button-box {
  grid-column: 2/3;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0;
  justify-content: center;
}
.section-1 .container .booking-box form .button-box button {
  padding: 10px;
  border-radius: 1000px;
  background-color: #1a1814;
  border: 2px solid #ffe066;
  color: #ffe066;
  width: 12rem;
}

.section-2 {
  background-color: #0c0b09;
  padding: 5rem;
}
.section-2 .container .infomation {
  color: #fff;
}
.section-2 .container .infomation .text {
  background-color: #1a1814;
  border: 2px solid #ffe066;
  text-align: center;
}
.section-2 .container .infomation iframe {
  width: 100%;
  height: 30rem;
}

footer {
  background-color: #1a1814;
}/*# sourceMappingURL=booking.css.map */