/** @format */
/**
 * * SPACING SYSTEM (px)
 * * 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 * * 
 * * FONT SIZE SYSTEM (px)
 * * 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 * *  *
 * *
 * * 
 * */
/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
}

.restaurant-name-banner, header .logo-navbar .logo-navbar__logo, .title h1 .logo, footer .container .copyright .logo__footer h1, .title .sub-title {
  font-family: "Dancing Script", cursive;
  font-style: italic;
  color: #ffe066;
  font-weight: 700;
}

.our-menu .container .starter .btn--menu a, .our-menu .container .drink .btn--menu a, .our-menu .container .dinner .btn--menu a, .our-menu .container .lunch .btn--menu a, .special-dishes .container .container-special-box .dishes-intro .btn--order, .btn-box .btn {
  text-decoration: none;
  padding: 5px;
  border: 2px solid #ffe066;
  border-radius: 7px;
  display: inline-block;
}

.title h1 {
  color: #fff;
  font-size: 3.4rem;
}
.title h1 span {
  color: #ffe066;
  text-transform: uppercase;
}
.title .sub-title {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 5px;
}
.title .sub-title hr {
  width: 8rem;
  height: 1.5px;
  background-color: #ffe066;
  opacity: 1;
}

/** @format */
@media (min-width: 700px) and (max-width: 1200px) {
  html {
    font-size: 52%;
  }
  header {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/background-img/tomsriver-restaurants2.jpg);
    height: 50vh;
    background-position: 30% -2%;
    background-size: cover;
  }
  header .container .logo-navbar {
    display: none;
  }
  header .container .intro-box {
    margin: 0 auto;
  }
  main .about {
    padding: 2rem;
  }
  main .about .about-us-box {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 3rem;
  }
  main .about .about-us-box .about-us-box__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
  }
  main .about .about-us-box .about-us-img {
    width: 50%;
    border: 2px solid #ffe066;
  }
  main .should-choose-us .container-benefits-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    max-width: 70%;
  }
  main .should-choose-us .container-benefits-box .benefits-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
  }
  main .special-dishes .container {
    padding: 2rem;
  }
  main .special-dishes .container .container-special-box {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0;
  }
  main .special-dishes .container .container-special-box .dishes-intro {
    width: -moz-fit-content;
    width: fit-content;
    padding: 2rem;
  }
  main .special-dishes .container .container-special-box img {
    width: 40%;
    justify-content: flex-end;
  }
  main .our-menu {
    padding: 2rem;
  }
  main .our-menu .container {
    margin: 0 auto;
  }
  main .our-menu .container .gridbox-container {
    display: grid;
    gap: 4rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  main .our-menu .container .gridbox-container .lunch {
    grid-column: 1;
    grid-row: 1;
    width: 30rem;
    height: 40rem;
  }
  main .our-menu .container .gridbox-container .dinner {
    grid-column: 2;
    grid-row: 1;
    width: 30rem;
    height: 40rem;
  }
  main .our-menu .container .gridbox-container .drink {
    grid-column: 1/-1;
    grid-row: 2;
    width: 100%;
    height: 18rem;
    background-size: 85%;
    background-position: 0 -3rem;
  }
  main .our-menu .container .gridbox-container .starter {
    grid-column: 1/-1;
    grid-row: 3;
    width: 100%;
    height: 18rem;
    background-size: cover;
    background-position: 0 -12rem;
  }
  main .events-section .container .events-box .carousel-item .event {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 4.5rem;
  }
  main .events-section .container .events-box .carousel-item .event img {
    width: 50%;
  }
  main .testimonials-section .testimonial-box {
    width: 20rem;
  }
}
@media (min-width: 1200px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/background-img/tomsriver-restaurants2.jpg);
    background-size: 103%;
    height: 100vh;
    background-position: 0 -15.5rem;
    padding: 2rem 5rem;
  }
  header .logo-navbar {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0;
    padding: 0 3rem;
    margin-bottom: 12rem;
  }
  header .logo-navbar ul {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 2.4rem;
  }
  header .logo-navbar ul li {
    list-style: none;
  }
  header .logo-navbar ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 3px;
    font-size: 2rem;
  }
  header .logo-navbar ul li hr {
    width: 0;
    height: 2px;
    background-color: #ffe066;
    border: none;
    opacity: 0;
    margin-top: 0;
  }
  header .logo-navbar ul li:hover {
    cursor: pointer;
  }
  header .logo-navbar ul li:hover a {
    color: #ffe066;
    transition: all 0.5s ease-in-out;
  }
  header .logo-navbar ul li:hover hr {
    width: 100%;
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }
  header .logo-navbar .container .intro-box .intro-text--head-title {
    font-size: 6.2rem !important;
  }
  header .logo-navbar .container .intro-box h1 {
    font-size: 7.2rem !important;
  }
  .about {
    padding: 5rem;
  }
  .about .about-us-box {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 2rem;
  }
  .about .about-us-box .about-us-box__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 3rem;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
  }
  .about .about-us-box .about-us-box__text-box .text-box__check-text {
    margin-left: 2rem;
  }
  .about .about-us-img {
    width: 40%;
    border: 2px solid #ffe066;
  }
  .should-choose-us {
    padding: 5rem;
  }
  .should-choose-us .container-benefits-box {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 3.5rem;
    max-width: 88.5rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .should-choose-us .container-benefits-box .benefits-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    gap: 2rem;
    max-width: 25rem;
    transition: all 0.5s;
  }
  .should-choose-us .container-benefits-box .benefits-box:hover {
    transform: scale(1.1);
  }
  .special-dishes {
    padding: 5rem;
  }
  .special-dishes .container-special-box {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0;
  }
  .special-dishes .container-special-box .dishes-intro {
    position: absolute;
    top: 10rem;
    left: -5rem;
    padding: 5rem 2rem !important;
    box-shadow: 0 0 10px #ffec99;
  }
  .special-dishes .container-special-box .empty {
    width: 60%;
  }
  .special-dishes .container-special-box img {
    width: 60rem;
    justify-content: flex-end;
  }
  .our-menu {
    padding: 5rem;
  }
  .our-menu .container .gridbox-container {
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    gap: 4rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
  }
  .our-menu .container .gridbox-container .lunch {
    grid-column: 1;
    grid-row: 1/-1;
    width: 30rem;
    height: 40rem;
  }
  .our-menu .container .gridbox-container .dinner {
    grid-column: 2/3;
    grid-row: 1/-1;
    width: 30rem;
    height: 40rem;
  }
  .our-menu .container .gridbox-container .drink {
    grid-column: 3;
    grid-row: 1;
    width: 40rem;
  }
  .our-menu .container .gridbox-container .starter {
    grid-column: 3;
    grid-row: 2;
    width: 40rem;
    background-size: 102%;
    background-position: 0 -5rem;
  }
  .events-section {
    padding: 5rem;
  }
  .events-section .container .events-box .carousel-item .event {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 4.5rem;
  }
  .events-section .container .events-box .carousel-item .event img {
    width: 50%;
  }
  .testimonials-section {
    padding: 5rem;
  }
  .testimonials-section .container .carousel-item .testimonial-box {
    width: 30rem;
  }
}
@media (max-width: 700px) {
  section {
    padding: 5px;
  }
  body {
    font-size: 1rem;
  }
  header {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/background-img/tomsriver-restaurants2.jpg);
    background-size: cover;
    height: 35vh;
  }
  header .container .logo-navbar {
    display: none;
  }
  header .container .intro-box {
    margin: 0 auto;
  }
  header .container .intro-box .intro-text--head-title {
    font-size: 2rem;
  }
  header .container .intro-box .restaurant-name-banner {
    font-size: 2.6rem;
  }
  header .container .intro-box p {
    font-size: 1rem;
  }
  .about {
    padding: 2rem;
  }
  .about .about-us-box .about-us-box__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
  }
  .about .about-us-box .about-us-img {
    width: 100%;
    border: 2px solid #ffe066;
  }
  .should-choose-us .container-benefits-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
  }
  .should-choose-us .container-benefits-box .benefits-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
  }
  .special-dishes .container .container-special-box .dishes-intro {
    margin-bottom: 2rem;
  }
  .special-dishes .container .container-special-box img {
    width: 100%;
  }
  .our-menu .container .gridbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1.5rem;
  }
  .our-menu .container .gridbox-container .lunch,
  .our-menu .container .gridbox-container .dinner,
  .our-menu .container .gridbox-container .drink,
  .our-menu .container .gridbox-container .starter {
    width: 30rem;
    height: 20rem;
    box-shadow: none;
  }
  .our-menu .container .gridbox-container .starter {
    background-size: 110%;
    background-position: 0 0rem;
  }
  .events-section .container .events-box .carousel-item .event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0;
    align-items: center;
    overflow: hidden;
  }
  .events-section .container .events-box .carousel-item .event img {
    height: 30rem;
  }
  footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1.5rem;
  }
  footer .container .newsletter .icons-box .bi {
    stroke: #ffe066;
  }
}
/** @format */
/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
}

.restaurant-name-banner, header .logo-navbar .logo-navbar__logo, .title h1 .logo, footer .container .copyright .logo__footer h1, .title .sub-title {
  font-family: "Dancing Script", cursive;
  font-style: italic;
  color: #ffe066;
  font-weight: 700;
}

.our-menu .container .starter .btn--menu a, .our-menu .container .drink .btn--menu a, .our-menu .container .dinner .btn--menu a, .our-menu .container .lunch .btn--menu a, .special-dishes .container .container-special-box .dishes-intro .btn--order, .btn-box .btn {
  text-decoration: none;
  padding: 5px;
  border: 2px solid #ffe066;
  border-radius: 7px;
  display: inline-block;
}

.title h1 {
  color: #fff;
  font-size: 3.4rem;
}
.title h1 span {
  color: #ffe066;
  text-transform: uppercase;
}
.title .sub-title {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 5px;
}
.title .sub-title hr {
  width: 8rem;
  height: 1.5px;
  background-color: #ffe066;
  opacity: 1;
}

footer {
  background-color: #0c0b09;
  padding: 5rem;
  padding-bottom: 3px;
}
footer .container {
  margin-bottom: 3rem;
}
footer .container .copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 1.5rem;
  align-items: flex-start;
}
footer .container .copyright .logo__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
footer .container .copyright .logo__footer h1 {
  font-size: 3.4rem;
}
footer .container .copyright .logo__footer h2 {
  text-transform: uppercase;
  color: #ffec99;
  font-size: 2.2rem;
}
footer .container .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 1.5rem;
  align-items: flex-start;
}
footer .container .contact .container-contact {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 5px;
}
footer .container .contact .container-contact .impress-box {
  background-color: #ffec99;
  color: black;
  padding: 5px;
  font-size: 1.2rem;
  width: 6rem;
  font-weight: 700;
  text-align: center;
}
footer .container .contact .container-contact p {
  font-size: 1.6rem;
}
footer .container .newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 2rem;
  align-items: center;
}
footer .container .newsletter h2 {
  color: #ffec99;
}
footer .container .newsletter form {
  position: relative;
}
footer .container .newsletter form input {
  height: 3rem;
  border-radius: 1000px;
  border: none;
  width: 23rem;
}
footer .container .newsletter form input::-moz-placeholder {
  padding-left: 5px;
}
footer .container .newsletter form input::placeholder {
  padding-left: 5px;
}
footer .container .newsletter form button {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 0;
  padding: 7px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 1000px;
  border: none;
  background-color: #ffec99;
  height: 3rem;
}
footer .container .newsletter .icons-box {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 3rem;
}
footer .container .newsletter .icons-box .bi {
  cursor: pointer;
  color: #26231d;
  width: 2rem;
}
footer .container .newsletter .icons-box .bi:hover {
  color: #ffe066;
}
footer p {
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
}
footer p a {
  color: #ffe066;
}
footer p a:hover {
  text-decoration: none;
}

@media (max-width: 700px) {
  footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1.5rem;
  }
  footer .container .newsletter .icons-box .bi {
    stroke: #ffe066;
  }
}
@media (min-width: 1200px) {
  footer .container {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0;
    justify-content: space-around;
  }
}
@media (min-width: 700px) and (max-width: 1200px) {
  footer .container {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 2rem;
    justify-content: space-around;
  }
}
.title {
  margin-bottom: 6rem;
}
.title h1 {
  color: #fff;
  font-size: 3.4rem;
}
.title h1 .logo {
  text-transform: none;
}

header .logo-navbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 0;
  padding: 0 3rem;
  margin-bottom: 12rem;
}
header .logo-navbar .logo-navbar__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0;
}
header .logo-navbar .logo-navbar__logo .logo-navbar__name-restaurant {
  font-weight: 700;
  margin-bottom: 0;
}
header .logo-navbar .logo-navbar__logo ul {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 2.4rem;
}
header .logo-navbar .logo-navbar__logo ul li {
  list-style: none;
}
header .logo-navbar .logo-navbar__logo ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 3px;
  font-size: 2rem;
}
header .logo-navbar .logo-navbar__logo ul li hr {
  width: 0;
  height: 2px;
  background-color: #ffe066;
  border: none;
  opacity: 0;
  margin-top: 0;
}
header .logo-navbar .logo-navbar__logo ul li:hover {
  cursor: pointer;
}
header .logo-navbar .logo-navbar__logo ul li:hover a {
  color: #ffe066;
  transition: all 0.5s ease-in-out;
}
header .logo-navbar .logo-navbar__logo ul li:hover hr {
  width: 100%;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.intro-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0;
  gap: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
}
.intro-box p {
  color: #fff;
  margin-bottom: 0;
}

.intro-text--head-title {
  color: #ffec99;
  font-size: 6.2rem;
}

.restaurant-name-banner {
  font-size: 7.2rem;
}

.btn-box {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 1.2rem;
}
.btn-box .btn {
  font-size: 1.6rem;
  color: #ffe066;
}
.btn-box .btn:hover {
  background-color: #ffec99;
  color: black;
}

.about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/background-img/restaurant-photo.jpg);
  background-position: 0 -30rem;
  background-attachment: fixed;
}
.about .sub-title {
  color: #ffe066;
}
.about .about-us-box__text-box {
  color: #fff;
}
.about .about-us-box__text-box .text-box__check-text p {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 0;
}
.about .about-us-box__text-box .text-box__check-text p .bi {
  width: 2.4rem;
  color: #ffe066;
  margin-right: 5px;
}

.should-choose-us {
  background-color: #0c0b09;
}

.container-benefits-box {
  margin: 0 auto;
}

.benefits-box {
  background-color: #1a1814;
  color: #fff;
  text-align: center;
}
.benefits-box h2 {
  color: #ffe066;
}

.icons-whyus-box {
  color: #ffe066;
  background-color: rgba(255, 224, 102, 0.1019607843);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 0;
  justify-content: center;
}
.icons-whyus-box .bi {
  width: 2.4rem;
}

.special-dishes {
  background-color: #1a1814;
}
.special-dishes .container h1 {
  color: #fff;
  font-size: 3.4rem;
}
.special-dishes .container h1 span {
  color: #ffe066;
  text-transform: uppercase;
}
.special-dishes .container .container-special-box .title {
  margin-bottom: 3rem;
}
.special-dishes .container .container-special-box .dishes-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
  background-color: #0c0b09;
  color: #fff;
  align-items: flex-start;
  border: 2px solid #ffe066;
}
.special-dishes .container .container-special-box .dishes-intro h2 {
  font-size: 2.4rem;
  font-weight: 350;
  color: #ffec99;
}
.special-dishes .container .container-special-box .dishes-intro .dish-detail {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10rem;
}
.special-dishes .container .container-special-box .dishes-intro .dish-detail .dish-decrible h1 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffe066;
}
.special-dishes .container .container-special-box .dishes-intro .dish-detail .dish-decrible h3 {
  font-size: 1.5rem;
}
.special-dishes .container .container-special-box .dishes-intro .dish-detail .dish-decrible .five-stars {
  color: #ffe066;
}
.special-dishes .container .container-special-box .dishes-intro .dish-detail .pricing {
  font-size: 3rem;
  color: #ffe066;
}
.special-dishes .container .container-special-box .dishes-intro .btn--order {
  border-radius: 0;
  color: #ffe066;
}

.our-menu {
  background-color: #0c0b09;
}
.our-menu .container {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.our-menu .container .lunch {
  box-shadow: 0 0 10px #ffe066;
  border-radius: 7px;
  background-image: url(/images/background-img/our-menu-01.jpg.webp);
  background-size: 102%;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 0;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.our-menu .container .lunch:hover {
  background-size: 110%;
}
.our-menu .container .lunch .btn--menu a {
  background-color: #fff;
  opacity: 0.9;
  border: none;
  color: black;
  transition: all 0.5s;
}
.our-menu .container .lunch .btn--menu a:hover {
  background-color: #ffe066;
}
.our-menu .container .dinner {
  box-shadow: 0 0 10px #ffe066;
  border-radius: 7px;
  background-image: url(/images/background-img/our-menu-05.jpg.webp);
  background-size: 102%;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 0;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.our-menu .container .dinner:hover {
  background-size: 110%;
}
.our-menu .container .dinner .btn--menu a {
  background-color: #fff;
  opacity: 0.9;
  border: none;
  color: black;
  transition: all 0.5s;
}
.our-menu .container .dinner .btn--menu a:hover {
  background-color: #ffe066;
}
.our-menu .container .drink {
  box-shadow: 0 0 10px #ffe066;
  border-radius: 7px;
  background-image: url(/images/background-img/our-menu-08.jpg.webp);
  background-size: 102%;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 0;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.our-menu .container .drink:hover {
  background-size: 110%;
}
.our-menu .container .drink .btn--menu a {
  background-color: #fff;
  opacity: 0.9;
  border: none;
  color: black;
  transition: all 0.5s;
}
.our-menu .container .drink .btn--menu a:hover {
  background-color: #ffe066;
}
.our-menu .container .starter {
  box-shadow: 0 0 10px #ffe066;
  border-radius: 7px;
  background-image: url(/images/background-img/our-menu-10.jpg.webp);
  display: flex;
  align-items: center;
  padding: 0;
  gap: 0;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.our-menu .container .starter:hover {
  background-size: 110%;
}
.our-menu .container .starter .btn--menu a {
  background-color: #fff;
  opacity: 0.9;
  border: none;
  color: black;
  transition: all 0.5s;
}
.our-menu .container .starter .btn--menu a:hover {
  background-color: #ffe066;
}

.events-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/background-img/syed-ahmad-kgjQ1AGDwE0-unsplash.jpg);
  background-size: 100%;
  background-attachment: fixed;
}
.events-section .container {
  margin: 0 auto;
}
.events-section .container .events-box .carousel-item {
  transition: all 1.5s;
}
.events-section .container .events-box .carousel-item .event-text {
  color: #fff;
}
.events-section .container .events-box .carousel-item .event-text h2 {
  text-transform: uppercase;
  color: #ffe066;
}
.events-section .container .events-box .carousel-item .event-text h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
}
.events-section .container .events-box .carousel-item .event-text h3 hr {
  margin-top: 3px !important;
  height: 2px;
  width: 6rem;
  background-color: #ffe066;
  opacity: 1;
  border: none;
}
.events-section .container .events-box .carousel-item .event-text ul {
  list-style: none;
  padding-left: 0;
}

.testimonials-section {
  background-color: #1a1814;
}
.testimonials-section .container .carousel-item {
  transition: 1.5s;
}
.testimonials-section .container .carousel-item .container-testimonials {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 3rem;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.testimonials-section .container .carousel-item .container-testimonials .testimonial-box {
  color: #fff;
}
.testimonials-section .container .carousel-item .container-testimonials .testimonial-box .text {
  text-align: center;
  position: relative;
  background-color: #26231d;
  padding: 1.5rem;
  padding-bottom: 3rem;
  margin-bottom: 5.5rem;
  border-radius: 7px;
}
.testimonials-section .container .carousel-item .container-testimonials .testimonial-box .text blockquote .bi-quote {
  color: #ffe066;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
}
.testimonials-section .container .carousel-item .container-testimonials .testimonial-box .text blockquote .bi-quote:nth-child(even) {
  transform: rotateY(180deg);
}
.testimonials-section .container .carousel-item .container-testimonials .testimonial-box .text img {
  box-shadow: 0 0 1px 5px rgba(255, 255, 255, 0.6);
  width: 6rem;
  position: absolute;
  left: 3rem;
  bottom: -4.5rem;
  border-radius: 50%;
}
.testimonials-section .container .carousel-item .container-testimonials .testimonial-box h2 {
  font-size: 1.6rem;
  padding-left: 1.5rem;
}/*# sourceMappingURL=home_page.css.map */